<!DOCTYPE html>
<html>
<head>
  <title>SwitchUserPage</title>
  <%= stylesheet_link_tag    "switch_user_page/application", media: "all" %>
  <%= javascript_include_tag "switch_user_page/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
